body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}
.blue{
  coler:skyblue;
  }
.pink{
  coler:rgb(255, 192, 203);
  }
  h1{
  // <uniquifier>: Use a unique and descriptive class name

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 }
 h1{
 font-size:2rem;
 letter-spacing: 1.2em;
 text-shadow: 1px 1px 2px gray;
 text-decoration: coler"rgb(115, 115, 114)"underline;
 }
 #basic > p {
 font-weight: bold;
  }